form{
	max-width: 400px;
	padding: 20px;
	border-radius: 15px;
	margin: auto;
	border: 2px solid #d9d9d9;
}
feildset{
	border-radius: 10px;
	border: 2px soild blue;
}
legend{
	color: blue;
	font-weight:bold;
	padding: 0 10px;
}
input[type="text"],input[type="email"],input[type="password"]{
	width: 100%;
	padding: 10px;
	border-radius: 9px;
	box-sizing: border-box;
	flex: 3;
}
.form-group{
	margin-bottom:20px;

}
input[type="submit"]{
	cursor: pointer;
	color: black;
	display: flex;
}
h1{
	margin: auto;
	background-color: skyblue;
}
input[type="text"],input[type="Full name"]{
	width: 100%;
	padding: 10px;
}